.header {
    width: 50%;
    margin: auto;
    background-color: #62BB46;
    padding: 1rem 0 0 0;
    display: flex;
}

.tabs {
    padding: 0 1rem 1rem 1rem;
    border-bottom: 2px solid #62BB46;
    cursor: pointer;

}

.tabs button,
.activeTabs button {
    background-color: #62BB46;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    font-family: "open sans";
    font-size: 1rem;
}

.activeTabs {
    padding: 0 1rem 1rem 1rem;
    border-bottom: 3.5px solid #217408;
    color: #fff;
    cursor: pointer;
}

.container {
    margin: auto;
    margin-top: 2rem;
    width: 50%;
}

@keyframes example {
    0% {
        position: absolute;
        left: 100%;
    }

    100% {
        position: absolute;
        left: 25%;
    }
}

.anomationClass {
    margin: auto;
    margin-top: 2rem;
    width: 50%;
    /* position: absolute;
    left: 50%;
    right: 50%; */
    animation-direction: alternate;
    animation-name: example;
    animation-duration: .3s;
    transition-property: all;
    transition-timing-function: linear;
}