.container_header {
    background-color: #62BB46;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: auto;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #333;
    box-shadow: 0 0 2px 2px rgba(51, 51, 51, 0.295);

}

.logo {
    height: 2rem;
    padding-left: 1rem;
    /* width: 90%; */
}

.grow {
    flex-grow: 1;
}

.nav {
    margin-right: 1rem;
    color: #fff;
    text-transform: none;
    text-decoration: none;
    background-color: #2f8216;
    padding: 6px 20px;
    border-radius: .5rem;
    font-weight: bold;

}

.nav:hover {
    background-color: #62BB46;
    color: #333;
    box-shadow: 0 0 2px 2px rgba(51, 51, 51, 0.315);
    transition-property: all;
    transition-duration: .5s;
}

.navActive {
    background-color: #3333;
    color: #fff
}

.title{
    margin-left: 1rem;
    font-weight: bold;
    color: #333;
}
.logoContiner{
    display: flex;
    text-transform: none;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}