.container {
    background-color: #62BB46;
    width: 100%;
    height: auto;
}

.dp {
    text-align: center;
}

.avatar {
    background-color: #fff;
    /* padding: 1rem; */
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    filter: drop-shadow(0 0 1px #333);
    border-radius: .3rem;
}

.user {
    background-color: rgb(222, 218, 218);
    padding: 1rem;
    height: 3rem;
    width: 3rem;
    border-radius: .3rem;
}

.imagDiv {
    position: relative;
    height: 5rem;
    width: 5rem;
    margin: auto;
}

.dpbtn {
    outline: none;
    position: absolute;
    bottom: -.7rem;
    right: -.7rem;
    background-color: none;
    padding: .3rem;
    border: none;
    border-radius: .3rem;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.dpbtn:hover {
    box-shadow: 0 0 3px 2px rgba(51, 51, 51, 0.453);
    transition-duration: .3s;
}

.form {
    width: 50%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.form input {
    /* width: 100%; */
    border: none;
    outline: none;
    background-color: #eee;
    padding: .5rem 0.4rem;
    font-size: .8rem;
    font-weight: 700;
    border-radius: .2rem;
    margin-bottom: .4rem;
}

.form label {
    width: 100%;
    font-size: .8rem;
    font-weight: 600;
    margin-bottom: .3rem;
}

.btn {
    width: 100%;
    background-color: #333;
    border: none;
    outline: none;
    padding: .5rem 0;
    color: #fff;
    border-radius: .3rem;
    margin-top: 1rem;
    cursor: pointer;
    font-weight: 700;
}

.btn:hover {
    background-color: #217e05;
    color: rgb(255, 255, 255);
    transition-duration: .7s;
}

.contain {
    display: flex;
    padding-top: 1.5rem;
}

.addnew {
    display: flex;
    padding: 1.5rem 0;
}

.newBtn {
    margin-right: 3rem;
    padding: .4rem 1.3rem;
    border: none;
    outline: none;
    border-radius: .3rem;
    color: #fff;
    background-color: #217e05;
    font-weight: 700;
    cursor: pointer;
}

.newBtn:hover {
    background-color: #333;
    color: #fff;
    transition-duration: .5s;
}

.innerContainer {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.paymentContainer {
    min-height: 75vh;
}

.payBor {
    border-radius: .3rem;
    border: 2px solid #333;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number {
    font-weight: 900;
    color: #333;
    margin: 0 1rem;
}

.date {
    font-weight: 700;
    color: rgb(222, 222, 222);
    font-size: .9rem;
}

.remove {
    background-color: #62BB46;
    border: none;
    outline: none;
    color: rgb(202, 1, 1);
    font-weight: bold;
    cursor: pointer;
    border-radius: .3rem;
    padding: .8em 1rem;
}

.remove:hover {
    background-color: rgba(255, 2, 2, 0.145);
    transition-duration: .4s;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.newPromo a {
    text-transform: none;
    text-decoration: none;
    background-color: #1a5f05;
    padding: .4rem 1rem;
    margin-right: 1rem;
    color: #fff;
    border-radius: .3rem;
    cursor: pointer;
    font-weight: 700;
}

.newPromo {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.newPromo a:hover {
    background-color: #333;
    color: #fff;
    transition-duration: .3s;
}

.search {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
}

.search input {
    border: none;
    outline: none;
    padding: .5rem .6rem;
    margin-right: .5rem;
    font-weight: 700;
    color: #fff;
    background-color: rgba(51, 51, 51, 0.484);
    flex-grow: 1;
    border-radius: .2rem;
}

.search button {
    background-color: #1a5f05;
    border: none;
    outline: none;
    border-radius: .2rem;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.search button:hover {
    background-color: #333;
    color: #fff;
    transition-duration: .3s;
}