.productContainer {
    width: 100%;
    background-color: #fff;
    height: auto;
    border-radius: .5rem;
    padding-bottom: 1rem;
    box-shadow: 0 1px 2px 1px rgba(51, 51, 51, 0.442);
}

.image {
    width: 23rem;
    border-radius: .5rem .5rem 0 0;
    height: 11rem;
    object-fit: cover;
    margin-bottom: .3rem;
}

.title {
    font-weight: bold;
    color: #62BB46;
    margin-left: .5rem;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.price {
    font-weight: 700;
    font-size: 1rem;
    color: grey;
    margin-left: .5rem;

}

.description {
    margin: 0 .5rem;
    text-align: justify;
    font-size: .7rem;
    font-weight: 600;
    text-overflow: ellipsis;
    /* height: 8rem; */
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 1rem .5rem;

}

.positive {
    border: none;
    outline: none;
    padding: .5rem 1rem;
    color: #fff;
    background-color: #62BB46;
    margin-right: .5rem;
    font-weight: 600;
    border-radius: .4rem;
    cursor: pointer;
    border: 2px solid #fff;
}

.positive:hover {
    background-color: #fff;
    /* box-shadow: 0 0 1px 1px rgba(51, 51, 51, 0.29); */
    color: #333;
    transition-duration: .5s;
    border: 2px solid #333;
}

.negative {
    border: none;
    outline: none;
    padding: .5rem 1rem;
    color: #fff;
    background-color: red;
    margin-right: .5rem;
    font-weight: 600;
    border-radius: .4rem;
    cursor: pointer;
    border: 2px solid #fff;
}

.negative:hover {
    background-color: #fff;
    /* box-shadow: 0 0 1px 1px rgba(51, 51, 51, 0.29); */
    color: #333;
    transition-duration: .5s;
    border: 2px solid #333;
}